// Primary 
$primaryDarkerNavy: #111A3B;
$primaryMutedNavy: #212A4B;
$primaryLighterNavy: #0E145A;
$primaryLighterNavy: #0E145A;

$primaryLogoBlue: #006FD0;
$primaryIconBlue: #006FD0;
$primaryLightBluegrey: #E9ECF6;

// Accent
$accentYellow: #F4BA29;

// Neutral
$NeutralsDark: #333333;
$NeutralsLight: #ffffff;
