// fonts
h1 {
        font-weight: 600;
        font-size: 2rem;
        line-height: 2.3438rem;
}

h2 {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.465rem;
}
h3 {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.1719rem;
}
p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.1719rem;
}

body {
    font-family: 'Roboto', sans-serif;
}