@use "../../styles/partials/colors" as *;
@use "../../styles/partials/global" as *;

.footer {
  position: fixed;
  bottom: 0rem;
  width: 100%;
  padding: 0 16px 32px 16px;
  &__input {
    background-color: $primaryMutedNavy;
    border-radius: 10px;
    color: $NeutralsLight;
    padding: 1.125rem 1.25rem;
    border: none;
    width: 100%;
    transition: all 0.3s;
    &:focus {
      outline: 1px solid $primaryLightBluegrey;
    }
    &:hover {
      outline: 1px solid $primaryLightBluegrey;
    }
    &::placeholder {
      color: $primaryLightBluegrey;
      font-family: "Roboto", sans-serif;
      font-size: 1rem;
    }
  }
}
