@use "../../styles/partials/colors" as *;
@use "../../styles/partials/global" as *;

.footer {
  position: relative;
  // bottom: 0rem;
  width: 100%;
  margin-top: 2rem;
  padding: 0 16px 32px 16px;
  &__input {
    background-color: $primaryMutedNavy;
    position: relative;
    border-radius: 10px;
    color: $NeutralsLight;
    padding: 1.125rem 1.25rem;
    border: none;
    width: 100%;
    outline-color: rgba(0,0,0, 0);
    transition: all 0.3s;
    &:focus {
      outline: 1.5px solid $primaryLightBluegrey;
    }
    &:hover {
      outline: 1px solid $primaryLightBluegrey;
    }
    &::placeholder {
      color: $primaryLightBluegrey;
      font-family: "Roboto", sans-serif;
      font-size: 1rem;
    }
  }
  &__enter-icon {
    position: absolute;
    right: 40px;
    top: calc(22% - 0.5rem);
    border-radius: 50%;
    cursor: pointer;
    padding: .5rem;

  }
}
