@use "../../styles/partials/colors" as *;
.CTA-option {
  width: fit-content;
  &__button {
    padding: 0.3125rem 1rem;
    margin-right: 0.75rem;
    border-radius: 10px;
    border: none;
    background-color: $primaryLightBluegrey;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      background-color: rgba(233, 236, 246, 0.786);
    }
  }
}
